node_modules
dist/
tmp/*
!tmp/.gitkeep

coverage/

.env
!.env.example

*.production.json
*.development.json

# Logs de erro do yarn
yarn-error.log

# Arquivos de config (utilizar os templates)
ormconfig.json
